<h1>服務管理</h1>

<table>
  <tr>
    <th>服務項目</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.title %></td>
    <td><%= show service %></td>
    <td><%= edit service %></td>
    <td><%= delete service %></td>
  </tr>
<% end %>
</table>

<br />

<%= new %>