<p id="notice"><%= notice %></p>


<p>
  <b>Id:</b>
  <%= @service.id %>
</p>

<p>
  <b>Title:</b>
  <%= @service.title %>
</p>

<p>
  <b>Content:</b>
  <%= @service.content %>
</p>

<p>
  <b>Time:</b>
  <%= @service.time %>
</p>

<p>
  <b>Status:</b>
  <%= @service.status %>
</p>

<%= render 'shared/admin_form_command', :data => @service %>