<%= form_for([:admin,@service]) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this services from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%=hidden_field_tag :pid, params[:pid] %>

  <div class="field form-title">
    <%= f.label :title, '服務項目' %><br />
    <%= f.text_field :title %>
  </div>
    <div class="field form-time">
    <%= f.label :time, '時間' %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field form-time">
    <%= f.label :time, '時間' %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field form-content">
    <h3><%= label "content", "price" , '內容' %></h3><br />
    <%= text_area "content", "price" %>
  </div>
  
  <div class="field form-content">
    <h3><%= label "content", "price" , '項目' %></h3><br />
    <%= text_area "content", "price" %>
  </div>
  
  <div class="field form-content">
    <h3><%= label "content", "price" , '可選擇' %></h3><br />
    <%= text_area "content", "price" %>
  </div>
  
  <div class="field form-content">
    <h3><%= label "content", "price" , '機動員配合家服員定期施作' %></h3><br />
    <%= text_area "content", "price" %>
  </div>
  <div class="actions">
    <%= submit %>
    <%= cancel %>
  </div>
<% end %>
