<h1><%= t("services.tablename") %> - <%= @system_site_map.title %><%= new %></h1>


<div class="list">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="list-title">
    <td><%= t("services.title") %></td>
  </tr>

<% @services.each do |service| %>
  <tr class="list-content">
    <td class="first"><%= link_to service.title, :action => 'show', :id => service.parameter, :pid => params[:pid] %>
		<div class="list-command">
		<%= link_to t("helpers.edit"), {:action => "edit", :pid => params[:pid], :id => service.parameter}, :class => "mod" %><span>│</span>
		<%= link_to t("helpers.delete"), { :action => "destroy", :pid => params[:pid], :id => service.parameter }, :class => "del", :confirm => "Are you sure you want to delete this article?", :method => :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>
</div>