<h1><%= t("services.tablename") %> - <%= @system_site_map.title %><%= new %></h1>


<div class="list">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="list-title">
    <td><%= t("services.title") %></td>
  </tr>

<% @services.each do |service| %>
  <tr class="list-content">
    <td class="first"><%= show service, service.title %><%= render 'shared/admin_list_command', :data => service %></td>
  </tr>
<% end %>
</table>
</div>