<h1><%= t("services.tablename") %> - <%= t("helpers.show") %></h1>

<span id="notice"><%= notice %></span>
<div class="show">
<div>
  <b><%= t("services.title") %>：</b>
  <%= @service.title %>
</div>

<div>
  <b><%= t("services.content") %>：</b>
  <%= @service.content %>
</div>

<div>
  <b><%= t("services.time") %>：</b>
  <%= @service.time %>
</div>

<div>
  <b><%= t("services.status") %>：</b>
  <%= @service.status %>
</div>

<%= render 'shared/admin_form_command', :data => @service %>
</div>