<h1><%= t("services.tablename") %> - <%= t("helpers.show") %></h1>

<%= render 'shared/admin_form_notice' %>
<div class="show">
<div>
  <b><%= t("services.title") %>：</b>
  <%= @service.title %>
</div>

<div>
  <b><%= t("services.time") %>：</b>
  <%= @service.time %>
</div>

<div>
  <b><%= t("services.content") %>：</b>
  
  <% 
		@service.content.each do | content | 
	%>	
	
  <span class="black_15">【<%= content[1]['block'] %>】</span><br>
  <span class="gray_13">
    <%= content[1]['blockcontent']%>
  </span>
  	
	<% end %>
</div>

<%= render 'shared/admin_form_command', :data => @service %>
</div>