<div id="service-form">
<%= form_for([:admin,@service], :url => {:controller => 'service_types', :action => (params["action"] == "new"? "create": "update")}) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this system_site_map from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="service-form-left">
    <div class="field form-title">
      <%= f.label :title, '服務項目' %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field form-time">
      <%= f.label :time, '時間' %><br />
      <%= f.text_field :time, :class => 'datetimepicker' %>
    </div>

    <div class="field form-content">
      <h3><%= f.label :price, '平均報價' %></h3>
      <%= f.text_area :price %>
    </div>  
  </div>
    <div id="service-form-right">
    <% 0.upto(4) do |i| %>
    <div class="field form-content">
    <h3><%= text_field "contents[" + i.to_s  + "]", "block", :value => @service.content[i.to_s]['block']  %></h3>
    <%= text_area "contents[" + i.to_s  + "]", "blockcontent", :value => @service.content[i.to_s]['blockcontent'] %>
    </div>
    <% end %>
    </div>
    <div class="actions">
      <%= submit %>
      <%= cancel %>
    </div>
  </div>    
<% end %>
</div>