<%= form_for([:admin,@banner], :html => { :multipart => true }) do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this services from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-file">
	<%= raw '<img src=\"public/banners/' + @banner.id.to_s + '.jpg\">' if params[:action] == "edit" %>
	<%= label 'upload', 'filename', '檔案' %>
    <%= file_field 'upload', 'filename' %>
  </div>
  <div class="field form-title">
	<%= f.label :link, '連結' %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field form-time">
	<%= f.label :time, '時間' %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field form-status">
	<h3><%= f.label :status, '狀態' %></h3><br />
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= submit %>
    <%= cancel %>
  </div>
<% end %>
