<h1><%= t("banners.tablename") %><%= new %></h1>


<div class="list">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="list-title">
    <td><%= t("banners.link") %></td>
  </tr>

<% @banners.each do |banner| %>
  <tr class="list-content">
    <td class="first"><a><%= show banner, banner.link %></a><%= render 'shared/admin_list_command', :data => banner %></td>
  </tr>
<% end %>
</table>
</div>
