<h1><%= t("banners.tablename") %> - <%= t("helpers.show") %></h1>

<span id="notice"><%= notice %></span>
<div class="show">
<div>
  <b><%= t("banners.link") %>：</b>
  <%= @banner.link %>
</div>

<div>
  <b><%= t("banners.time") %>：</b>
  <%= @banner.time %>
</div>

<div>
  <b><%= t("banners.status") %>：</b>
  <%= @banner.status %>
</div>

<%= render 'shared/admin_form_command', :data => @banner %>
</div>