<h1><%= t("banners.tablename") %> - <%= t("helpers.show") %></h1>

<%= render 'shared/admin_form_notice' %>
<div class="show">
<div>
  <b><%= t("banners.link") %>：</b>
  <%= @banner.link %>
</div>

<div>
  <b><%= t("banners.time") %>：</b>
  <%= @banner.time %>
</div>

<%= render 'shared/admin_form_command', :data => @banner %>
</div>