<h1><%= t("news.tablename") %> - <%= t("helpers.show") %></h1>

<%= render 'shared/admin_form_notice' %>
<div class="show">
<div>
  <b><%= t("news.title") %>：</b>
  <%= @new.title %>
</div>

<div>
  <b><%= t("news.time") %>：</b>
  <%= @new.time %>
</div>

<div>
  <b><%= t("news.content") %>：</b>
  <%= simple_format @new.content %>
</div>

<%= render 'shared/admin_form_command', :data => @new %>
</div>