<h1><%= t("defines.tablename") %> - <%= t("helpers.show") %></h1>

<span id="notice"><%= notice %></span>
<div class="show">
<div>
  <b><%= t("defines.usetype") %>：</b>
  <%= @define.usetype %>
</div>

<div>
  <b><%= t("defines.name") %>：</b>
  <%= @define.name %>
</div>

<%= render 'shared/admin_form_command', :data => @define %>
</div>