<h1><%= t("banners.tablename") %></h1>

<table>
  <tr>
    <th><%= t("banners.link") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= banner.link %></td>
    <td><%= show banner %></td>
    <td><%= edit banner %></td>
    <td><%= delete banner %></td>
  </tr>
<% end %>
</table>

<br />

<%= new %>
