<p id="notice"><%= notice %></p>


<p>
  <b>Id:</b>
  <%= @banner.id %>
</p>

<p>
  <b>Title:</b>
  <%= @banner.link %>
</p>

<p>
  <b>Time:</b>
  <%= @banner.time %>
</p>

<p>
  <b>Status:</b>
  <%= @banner.status %>
</p>

<%= render 'shared/admin_form_command', :data => @banner %>