<div id="rightframe">
	<div id="newstitle"><%= @news.title %></div>
	<div id="newscontent"><%= @news.content.html_safe %></div>
</div><!--rightframe end-->
<div id="menuout">
<div id="menuimage"><img src="<%= image_path("newstitle.png") %>" width="274" height="59"></div>
<div id="menulistbody">
	<% @news_all.each do |news| %>
		 <ul id="menu"><%= link_to news.title, :controller => 'news', :action => 'show', :id => news.id %></ul>
		 <div id="menuline"></div>
	<% end %>
</div>
<%= render :partial => 'pages/bussiness' %>
</div><!--menuout end-->
