<%= stylesheet_link_tag "services", :media => "all" %>
<div id="rightframe">
<div id="servicetitle1"></div>
<div id="servicetitle3">&nbsp;</div>


</div><!--rightframe end-->
<div id="menuout">
<div id="menuimage"><img src="<%= image_path("knacktitle.png") %>" width="274" height="59"></div>
<%= render :partial => 'menu' %>
<div id="menuimage"><img src="<%= image_path("menubgend.png") %>" width="274" height="15"></div>
<%= render :partial => 'pages/bussiness' %>
</div><!--menuout end-->
