
   <div id="rightframe">
   </div><!--rightframe end-->
   <div id="menuout">
    <div id="menuimage"><img src="<%= image_path("servicetitle.png") %>" width="274" height="59"></div>
	<!--menulistbody end-->
    <div id="menuimage"><img src="<%= image_path("menubgend.png") %>" width="274" height="15"></div>
    <div id="menubanner"><img src="<%= image_path("banner1.jpg") %>" width="260" height="90"></div>
    <div id="menuimage"><img src="<%= image_path("businessicon.png") %>" width="274" height="89" id="btn1"></div>
    <div id="businessbox" style="display:none">
     <div id="businesstitle">
       <br>
       <br>
       新光保全事業群連結</div>
     <%= render :partial => "pages/bussiness" %>
   </div><!--menuout end-->
