<h1><%= t("tickets.tablename") %></h1>

<table>
  <tr>
    <th><%= t("tickets.title") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.title %></td>
    <td><%= show ticket %></td>
    <td><%= edit ticket %></td>
    <td><%= delete ticket %></td>
  </tr>
<% end %>
</table>

<br />

<%= new %>