<p id="notice"><%= notice %></p>


<p>
  <b>Id:</b>
  <%= @ticket.id %>
</p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Content:</b>
  <%= @ticket.content %>
</p>

<p>
  <b>Time:</b>
  <%= @ticket.time %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>

<%= render 'shared/admin_form_command', :data => @ticket %>