
   <div id="rightframe">
   
   <% @user_exps.each do |user_exp| %>
   	
	<div id="witnessframe">
		<div id="witnessphoto"><img src="user_exps/<%= user_exp.id %>.jpg" width="101" height="124"></div>
		<div id="witnessline"></div>
		<div id="witnesstitle"><%= user_exp.title %></div>
		<div id="witnessline"></div>
		<div id="witnessname"><%= user_exp.name %></div>
		<div id="witnesstext"><%= user_exp.content %></div>
	</div>   	

   <% end %>

   </div><!--rightframe end-->
   <div id="menuout">
    <div id="menuimage"><img src="<%= image_path("witnesstitle.png") %>" width="274" height="59"></div>
    <div id="menuimage"><img src="<%= image_path("menubgend.png") %>" width="274" height="15"></div>
    <%= render :partial => "pages/bussiness" %>
   </div><!--menuout end-->
