<%= form_for([:admin,@ticket]) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this services from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-time">
    <%= f.label :name, '姓名' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field form-time">
    <%= f.label :phone, '聯絡電話' %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field form-time">
    <%= f.label :address, '希望服務地址' %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field form-time">
    <%= f.label :email, 'email' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field form-radio">
    <%= f.label :hopetime, '希望服務時間' %><br />
    <%= f.radio_button :hopetime, 0 %>平日
    <%= f.radio_button :hopetime, 1 %>周末及假日
  </div>
  <div class="field form-content">
    <h3><%= f.label :remark, '註解' %></h3><br />
    <%= f.text_area :remark %>
  </div>

  <div class="field form-status">
    <h3><%= f.label :define_id, '狀態' %></h3><br />
	<%= select("ticket", "define_id", Define.where( :usetype => 'tickettype' ).collect {|p| [ p.name, p.id ] }, {:prompt => 'Select Type'})%>
  </div>
  <div class="actions">
    <%= submit %>
    <%= cancel %>
  </div>
<% end %>
