<h1><%= t("tickets.tablename") %></h1>


<div class="list">

<%= render :partial => 'shared/pagination'%>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="list-title">
    <td><%= t("tickets.name") %></td>
    <td><%= t("tickets.phone") %></td>
    <td><%= t("tickets.address") %></td>
    <td><%= t("tickets.email") %></td>
    <td><%= t("tickets.hopetime") %></td>
    <td><%= t("tickets.create_time") %></td>
    <td><%= t("tickets.updated_time") %></td>
    <td><%= t("tickettypes.status") %></td>
  </tr>

<% @tickets.each do |ticket| %>
  <tr class="list-content">
    <td class="first"><a><%= show ticket, ticket.name %></a>
	<% if session[:master_admin] == true %>
				<%= render 'shared/admin_list_command', :data => ticket %>
	<% end %></td>
    <td><%= ticket.phone %></td>
    <td><%= ticket.address %></td>
    <td><%= ticket.email %></td>
    <td><%= (ticket.hopetime==0?"平日":"周末及假日") %></td>
    <td><%= ticket.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
    <td><%= ticket.updated_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
    <td><%= (ticket.define.class !=  Define ?  ' * 尚未指定' : ticket.define.name) %></td>
  </tr>
<% end %>
</table>
<p>** 尚未指定的狀態可能來自於新的客戶填單，或者誤刪了已經指定的表單狀態。</p>

</div>