<h1><%= t("tickets.tablename") %> - <%= t("helpers.show") %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t("tickets.title") %>:</b>
  <%= @ticket.title %>
</p>

<p>
  <b><%= t("tickets.content") %>:</b>
  <%= @ticket.content %>
</p>

<p>
  <b><%= t("tickets.time") %>:</b>
  <%= @ticket.time %>
</p>

<p>
  <b><%= t("tickets.status") %>:</b>
  <%= @ticket.status %>
</p>

<%= render 'shared/admin_form_command', :data => @ticket %>