<h1><%= t("tickets.tablename") %> - <%= t("helpers.show") %></h1>

<%= render 'shared/admin_form_notice' %>
<div class="show">
<div>
  <b><%= t("tickets.name") %>：</b>
  <%= @ticket.name %>
</div>

<div>
  <b><%= t("tickets.phone") %>：</b>
  <%= @ticket.phone %>
</div>

<div>
  <b><%= t("tickets.address") %>：</b>
  <%= @ticket.address %>
</div>

<div>
  <b><%= t("tickets.email") %>：</b>
  <%= @ticket.email %>
</div>

<div>
  <b><%= t("tickets.hopetime") %>：</b>
  <%= (@ticket.hopetime==0?"平日":"周末及假日") %>
</div>

<div>
  <b><%= t("tickets.remark") %>：</b>
  <%= simple_format @ticket.remark %>
</div>

<div>
  <b><%= t("tickets.create_time") %>：</b>
  <%= @ticket.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
</div>

<div>
  <b><%= t("tickets.updated_time") %>：</b>
  <%= @ticket.updated_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
</div>

<div>
  <b><%= t("tickets.status") %>：</b>
  <%= (@ticket.define.class !=  Define ?  ' * 尚未指定' : @ticket.define.name) %>
</div>
<% if session[:user] == 'master' %>
  <%= render 'shared/admin_form_command', :data => @ticket %>
<% else %>
<span class="tool">
<%= back %>
</span>
<% end %>
</div>