<h1><%= t("tickets.tablename") %> - <%= t("helpers.show") %></h1>

<span id="notice"><%= notice %></span>
<div class="show">
<div>
  <b><%= t("tickets.title") %>：</b>
  <%= @ticket.title %>
</div>

<div>
  <b><%= t("tickets.content") %>：</b>
  <%= simple_format @ticket.content %>
</div>

<div>
  <b><%= t("tickets.time") %>：</b>
  <%= @ticket.time %>
</div>

<div>
  <b><%= t("tickets.status") %>：</b>
  <%= @ticket.status %>
</div>

<%= render 'shared/admin_form_command', :data => @ticket %>
</div>