<span id="notice"><%= notice %></span>

<div class="show">
<div>
  <b>Parent:</b>
  <%= @system_site_map.parent_id %>
</div>

<div>
  <b>Id:</b>
  <%= @system_site_map.id %>
</div>

<div>
  <b>Is static:</b>
  <%= @system_site_map.is_static %>
</div>

<div>
  <b>Controller:</b>
  <%= @system_site_map.controller %>
</div>

<div>
  <b>Action:</b>
  <%= @system_site_map.action %>
</div>

<div>
  <b>Parameter:</b>
  <%= @system_site_map.parameter %>
</div>

<div>
  <b>Link:</b>
  <%= @system_site_map.link %>
</div>

<div>
  <b>Script:</b>
  <%= @system_site_map.script %>
</div>

<%= render 'shared/admin_form_command', :data => @system_site_map %>
</div>