<%= form_for([:admin,@userexp], :html => { :multipart => true }) do |f| %>
  <% if @userexp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userexp.errors.count, "error") %> prohibited this services from being saved:</h2>

      <ul>
      <% @userexp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-file">
	<%= raw '<img src="' + image_path("/user_exps/#{@userexp.id}.jpg") + '" alt="open" />' if params[:action] == "edit" %>
	<%= label 'upload', 'filename', '檔案' %>
	<p class="sizeTip">(建議尺寸：260x90 px)</p>
    <%= file_field 'upload', 'filename' %>
  </div>
  <div class="field form-title">
    <%= f.label :title, '標題' %>（30 字內為佳）<br />
    <%= f.text_field :title %>
  </div>
  <div class="field form-title">
    <%= f.label :name, '用戶名稱' %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field form-time">
    <%= f.label :time, '時間' %><br />
    <%= f.text_field :time, :class => 'datetimepicker' %>
  </div>
  <div class="field form-content">
    <h3><%= f.label :content, '內文' %>（300 字內為佳）</h3><br />
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= submit %>
    <%= cancel %>
  </div>
<% end %>
