<h1><%= t("user_exps.tablename") %><%= new %></h1>


<div class="list">
<%= render :partial => 'shared/pagination'%>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="list-title">
    <td width="10%"></td>
    <td><%= t("user_exps.title") %></td>
  </tr>

<% @userexps.each do |userexp| 
   		
   			setted_images_src ="/user_exps/#{userexp.id}.jpg"
   			image_src = File.exist?("public#{setted_images_src}") ? setted_images_src : image_path('witnessman.jpg')
   			
%>
  <tr class="list-content">
  	<td class="first" align="center" valign="middle"><img src="<%= image_src %>" alt="open" /></td>
    <td class="first"><%= show userexp, userexp.title %><%= render 'shared/admin_list_command', :data => userexp %></td>
  </tr>
<% end %>
</table>
</div>