<h1><%= t("user_exps.tablename") %> - <%= t("helpers.show") %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t("user_exps.title") %>:</b>
  <%= @userexp.title %>
</p>

<p>
  <b><%= t("user_exps.content") %>:</b>
  <%= @userexp.content %>
</p>

<p>
  <b><%= t("user_exps.time") %>:</b>
  <%= @userexp.time %>
</p>

<%= render 'shared/admin_form_command', :data => @userexp %>
