<h1><%= t("user_exps.tablename") %> - <%= t("helpers.show") %></h1>

<span id="notice"><%= notice %></span>
<div class="show">
<div>
  <b><%= t("user_exps.title") %>：</b>
  <%= @userexp.title %>
</div>

<div>
  <b><%= t("user_exps.content") %>：</b>
  <%= simple_format @userexp.content %>
</div>

<div>
  <b><%= t("user_exps.time") %>：</b>
  <%= @userexp.time %>
</div>

<%= render 'shared/admin_form_command', :data => @userexp %>
</div>
