<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-title">
    <%= f.label :user, '帳號' %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :password, '密碼' %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field form-status">
    <h3><%= f.label :define_id, '角色' %></h3><br />
	<%= f.select :define_id, Define.where( :usetype => 'usertype' ).collect {|p| [ p.name, p.id ] }, {:prompt => 'Select Type'}%>
  </div>
  <div class="actions">
    <%= submit %>
    <%= reset %>
  </div>
<% end %>
