<h1><%= t("users.tablename") %><%= new %></h1>


<div class="list">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="list-title">
    <td>
		<%= t("users.user") %>
	</td>
    <td>
	    <%= t("users.define_id") %></td>
    </tr>

<% @users.each do |user| %>
  <tr class="list-content">
    <td class="first">
		<a><%= show user, user.user %></a>
		<%= render 'shared/admin_list_command', :data => user %>
	</td>
    <td><%= user.define.name %></td>
  </tr>
<% end %>
</table>
</div>
