<h1><%= t("users.tablename") %> - <%= t("helpers.show") %></h1>

<span id="notice"><%= notice %></span>
<div class="show">
<div>
  <b><%= t("users.user") %>：</b>
  <%= @user.user %>
</div>

<div>
  <b><%= t("users.define_id") %>：</b>
  <%= @user.define.name %>
</div>
<%= render 'shared/admin_form_command', :data => @user %>
</div>