<% if @tickettype.errors.any? %>
    <div id="error_explanation">
      <h2>儲存時發生錯誤:</h2>

      <ul>
      <% @tickettype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for([:admin,@tickettype], :url => {:controller => 'ticket_types', :action => (params["action"] == "index"? "create": "update")}) do |f| %>
  

  <div class="field">
    <%= f.label :name, '項目名稱' %>（5 字內為佳）<br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= submit %>
    <%= cancel %>
  </div>
<% end %>
