<h1><%= t("tickettypes.tablename") %></h1>

<div class="list list-right">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="list-title">
    <td class="name"><%= t("tickettypes.name") %></td>
  </tr>

<% @tickettypes.each do |tickettype| %>
  <tr class="list-content">
    <td class="first">
    	<%= show tickettype, tickettype.name %>
    	<div class="list-command">
			<%= link_to '上移', :action => 'move_up', :id => tickettype.id %>
    		<span>│</span>
			<%= link_to '下移', :action => 'move_down', :id => tickettype.id %>
    		<span>│</span>
			<%= link_to '修改', :action => 'edit', :id => tickettype.id %>
			<span>│</span>
			<%= link_to '刪除', {:action => "destroy", :id => tickettype.id} , :method => :delete, :confirm => '確定要刪除嗎？' %>			
		</div>
    </td>
  </tr>
<% end %>
</table>
</div>

<div class="form form-left">
<!--h2><%= t("helpers.new") %></h2-->

<%= render 'form' %>
</div>