<h1><%= t("tickettypes.tablename") %> - <%= t("helpers.show") %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t("tickettypes.name") %>:</b>
  <%= @tickettype.name %>
</p>

<%= render 'shared/admin_form_command', :data => @tickettype %>