<h1><%= t("tickettypes.tablename") %> - <%= t("helpers.show") %></h1>

<span id="notice"><%= notice %></span>
<div class="show">
<div>
  <b><%= t("tickettypes.name") %>:</b>
  <%= @tickettype.name %>
</div>

<%= render 'shared/admin_form_command', :data => @tickettype %>
</div>