<h1>Listing defines</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @defines.each do |define| %>
  <tr>
    <td><%= define.usetype %></td>
    <td><%= define.id %></td>
    <td><%= define.name %></td>
    <td><%= show define %></td>
    <td><%= edit define %></td>
    <td><%= delete define %></td>
  </tr>
<% end %>
</table>

<br />

<%= new %>