<h1><%= t("defines.tablename") %></h1>

<table>
  <tr>
    <th><%= t("defines.name") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @defines.each do |define| %>
  <tr>
    <td><%= define.name %></td>
    <td><%= show define %></td>
    <td><%= edit define %></td>
    <td><%= delete define %></td>
  </tr>
<% end %>
</table>

<br />

<%= new %>