<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @define.usetype %>
</p>

<p>
  <b>Id:</b>
  <%= @define.id %>
</p>

<p>
  <b>Name:</b>
  <%= @define.name %>
</p>

<%= render 'shared/admin_form_command', :data => @define %>