<!DOCTYPE html>
<html>
<head>
  <title>誼光後台管理系統</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "rails" %>
<script type="text/javascript">
$(function(){
   $('.side-box').find('.side-title').click(function(){
      var $qa_content = $(this).next('.side-text');
      if(!$qa_content.is(':visible')){
	     $('.side-text:visible').slideUp();
	  }
		$qa_content.slideToggle()
	})
});
</script>
</head>
<body>
<div id="top">
	<ul class="left">
		<li><a href="#">回首頁</a></li>
		<li><a href="#">誼光後台管理系統</a></li>
	</ul>
	<ul class="right">
		<li><%= link_to '登出', :controller => :login, :action => :logout %></li>
		<li><%= link_to '修改密碼', :controller => :login, :action => :change %></li>
	</ul>
</div>
<!--top-->

<div id="main">
	<div id="side" class="left">
		<ol>
			<ul class="side-box">
				<div class="side-title"><%= link_to t("news.tablename"), :controller => 'news', :action => :index%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= link_to t("services.tablename"), admin_services_path%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= link_to t("user_exps.tablename"), admin_user_exps_path%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= link_to t("banners.tablename"), admin_banners_path%></div>
			</ul>
		</ol>
		<ol>
			<ul class="side-box">
				<div class="side-title"><%= link_to t("tickets.tablename"), admin_tickets_path%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= link_to t("tickettypes.tablename"), admin_ticket_types_path%></div>
			</ul>
		</ol>
		<ol>
			<ul class="side-box">
				<div class="side-title"><%= link_to t("users.tablename"), admin_users_path%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= link_to "網站地圖", admin_system_site_maps_path%></div>
			</ul>
		</ol>
		<ol>
			<ul id="side-none" class="side-box"></ul>
		</ol>
	</div>
	<!--side-->
	
	<div id="container" class="right">
		<div id="content">
			<%= yield %>
		</div>	
		<!--content-->
		<div id="footer"></div>
		<!--footer-->
	</div>
	<!--container--> 
</div>
<!--main-->
</body>
</html>
