<!DOCTYPE html>
<html>
<head>
  <title>誼光後台管理系統</title>
  <meta http-equiv="cache-control" content="no-cache"> 
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "rails" %>
<%= javascript_include_tag "/javascripts/jquery-1.7.1.min.js" %>


</head>
<body>
<div id="top">
	<ul class="left">
		<li><a href="#">回首頁</a></li>
		<li><%= menu '誼光後台管理系統', "news", 'index'%></li>
	</ul>
	<ul class="right">
		<li><%= link_to '登出', :controller => :login, :action => :logout %></li>
		<li><%= link_to '修改密碼', :controller => :users, :action => :change %></li>
	</ul>
</div>
<!--top-->

<div id="main">
	<div id="side" class="left">
		<% if session[:user] == 'master' %>
		<ol>
			<ul class="side-box">
				<div class="side-title"><%= menu t("news.tablename"), "news", 'index'%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= menu t("services.tablename"), "service_types"%></div>
			<div class="side-text">
				<% SystemSiteMap.find(2).system_site_maps.each do |service| %>
<<<<<<< HEAD
<li><%= menu service.title, "services", 'index', service.id %></li>
=======
<li><%= menu service.title, "services", "index", service.id %></li>
>>>>>>> 2f7fcefcac741255c4144a4e5e60bd510786d85c
<% end %>
			</div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= menu t("user_exps.tablename"), 'user_exps'%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= menu t("banners.tablename"), 'banners'%></div>
			</ul>
		</ol>
		<ol>
			<ul class="side-box">
				<div class="side-title"><%= menu t("tickets.tablename"), 'tickets'%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= menu t("tickettypes.tablename"), 'ticket_types'%></div>
			</ul>
		</ol>
		<ol>
			<ul class="side-box">
				<div class="side-title"><%= menu t("users.tablename"), 'users'%></div>
			</ul>
			<ul class="side-box">
				<div class="side-title"><%= menu "網站地圖", 'system_site_maps', 'index'%></div>
			</ul>
		</ol>
		<% else %>
			<ul class="side-box">
				<div class="side-title"><%= menu t("tickets.tablename"), 'tickets'%></div>
			</ul>
		<% end %>
		<ol>
			<ul id="side-none" class="side-box"></ul>
		</ol>
	</div>
	<!--side-->
	
	<div id="container" class="right">
		<div id="content">
			<%= yield %>
		</div>	
		<!--content-->
		<div id="footer"></div>
		<!--footer-->
	</div>
	<!--container--> 
</div>
<!--main-->
</body>
</html>
