<!DOCTYPE html>
<html>
<head>
  <title>誼光後台管理系統</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	</header>
	<nav>
		<ul>
			<li><%= link_to t("news.tablename"), :controller => 'news', :action => :index%></li>
			<li><%= link_to t("tickets.tablename"), tickets_path%></li>
			<li><%= link_to t("defines.tablename"), defines_path%></li>
			<li><%= link_to t("services.tablename"), services_path%></li>
			<li><%= link_to t("user_exps.tablename"), user_exps_path%></li>
			<li><%= link_to t("banners.tablename"), banners_path%></li>
			<li><%= link_to t("users.tablename"), users_path%></li>
		</ul>
	</nav>
	<section>
		<%= yield %>
	<section>
	<footer>
	</footer>
</body>
</html>
