<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="Robots" content="index,follow"/>
<meta name="keywords" content="清潔,保養,收納,估價,乾洗,台北市,新北市,打
掃,矽利康,家事服務,居家打掃,大掃除,沙發清潔,寢具,試做,觀景窗,石材保養,裝潢
後細清,除螨,皂垢,裝潢後打掃,矽立康,家事員,掃家裡,定期掃除,定期服務,收東西
,清窗框,清洁,清理,消毒,家事,水塔,掃地"/>
<meta name="description" content="最懂怎麼掃，因為我們動腦！實現每一個乾
淨的願望，有求必應的智慧家事服務"/>
<meta property="og:title" content="真的超會掃，因為他們動腦－誼光家事服務" />
<meta property="og:description" content="這就是傳說中的總統套房嗎？什麼，這是我家！誼光到底怎麼辦到的？全國第一家智慧家事服務，清潔密技免費大公開，快來瞧瞧！" />
<meta property="og:image" content="<%= image_path("index-logo.jpg") %>" />
<meta name="abstract" content="誼光家事服務，實現每一個乾淨的願望"/>
<meta name="DC.Rights" content="誼光家事"/>
<meta name="DC.Date" content="2012/3/21"/>
<meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
<meta name="DC.Subject" content="誼光家事服務，實現每一個乾淨的願望"/>
<meta name="DC.Type" content="服務介紹,優惠訊息"/>
<link rel="shortcut icon" href="<%= image_path("favicon.ico") %>" >
<title>誼光家事服務，實現每一個乾淨的願望</title>

  <%= stylesheet_link_tag    "common.css" , :media => "all" %>
  <%= stylesheet_link_tag    params[:controller] , :media => "all" %>
  <%#= stylesheet_link_tag    params[:pagename], :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
  
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="scripts/btn_function.js"></script>
<script src="menu.js" type="text/javascript"></script>
<script type="text/javascript">
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
</script>
<script type="text/javascript"> // 預先載入影像
function preloadImages() {
 var a = (typeof arguments[0] == 'object')? arguments[0] : arguments;
 for(var i = a.length -1; i > 0; i--) {
  jQuery("<img>").attr("src", 'images/'+a[i]);
 }
}
preloadImages("btn_click.png","btn_out.png","btn_over.png","businessbg.png","businessend.png","businesstopbg.png","close.png","contactbg.png","menubg.png","menubg2.png","menubgend.png","menuover.png","needbtn.png","needbtn2.png","open.png","slider.png");

</script>
</head>

<body>
<div id="outbody">
  <div id="topframe">
   <div id="logoframe"><a href="<%= root_url %>"><img src="<%= image_path("logo.png") %>" width="210" height="122"></a></div>
   <div id="btnbar">
    <div class="nav"><%= link_to '關於誼光', :controller => 'page', :action => 'about' %></div>
    <div class="nav"><%= link_to '最新優惠', :controller => 'page', :action => 'preferential' %></div>
    <div class="nav"><%= link_to '服務優勢', root_url + "#advantages" %></div>
    <div class="nav"><%= link_to '服務項目', services_path %></div>
    <div class="nav"><%= link_to '用戶見證', user_exps_path %></div>
    <div class="nav"><%= link_to '人員招募', :controller => 'page', :action => 'recruit' %></div>
    <div class="nav2"><a href="http://www.facebook.com/sharer.php?s=100&p[url]=ykhome.com.tw/&p[images][0]=<%= image_path("index-logo.jpg") %>&p[title]=%e7%9c%9f%e7%9a%84%e8%b6%85%e6%9c%83%e6%8e%83%ef%bc%8c%e5%9b%a0%e7%82%ba%e4%bb%96%e5%80%91%e5%8b%95%e8%85%a6%ef%bc%8d%ef%bc%8d%e8%aa%bc%e5%85%89%e5%ae%b6%e4%ba%8b%e6%9c%8d%e5%8b%99&p[summary]=%e9%80%99%e5%b0%b1%e6%98%af%e5%82%b3%e8%aa%aa%e4%b8%ad%e7%9a%84%e7%b8%bd%e7%b5%b1%e5%a5%97%e6%88%bf%e5%97%8e%ef%bc%9f%e4%bb%80%e9%ba%bc%ef%bc%8c%e9%80%99%e6%98%af%e6%88%91%e5%ae%b6%ef%bc%81%e8%aa%bc%e5%85%89%e5%88%b0%e5%ba%95%e6%80%8e%e9%ba%bc%e8%be%a6%e5%88%b0%e7%9a%84%ef%bc%9f%e5%85%a8%e5%9c%8b%e7%ac%ac%e4%b8%80%e5%ae%b6%e6%99%ba%e6%85%a7%e5%ae%b6%e4%ba%8b%e6%9c%8d%e5%8b%99%ef%bc%8c%e6%b8%85%e6%bd%94%e5%af%86%e6%8a%80%e5%85%8d%e8%b2%bb%e5%a4%a7%e5%85%ac%e9%96%8b%ef%bc%8c%e5%bf%ab%e4%be%86%e7%9e%a7%e7%9e%a7%ef%bc%81" target="_blank"><img src="<%= image_path("facebookbtn.png") %>" width="16" height="16"></a></div>
   </div>
  </div>
  <!--topframe end-->
  <div id="topframe2">
   <div id="slidercover"><img src="<%= image_path("slidercover.png") %>" width="218" height="38"></div>
   <div id="sliderWrap">
       <div id="openCloseIdentifier"></div>
	   <div id="slider">
			<div id="sliderContent">
			  <div id="needbtn"><a href="#"><img src="<%= image_path("needbtn.png") %>" width="149" height="36" id="neetbtn" name="neetbtn" onmouseover="mouseOver1()" onmouseout="mouseOut1()" onClick="MM_openBrWindow('<%= url_for(:action => 'index', :controller => 'contact') %>','contact','scrollbars=yes,width=630,height=530')"></a></div>
<div id="needphone">
                 台北：(02) 2503-3500<br>
                 板橋：(02) 2961-4594<br>
                 桃園：(03) 339-8353<br>
                 新竹：(03) 561-1686<br>
				 台中：(04) 2380-0009
              </div> 
            </div>
			<div id="openCloseWrap">
				<a href="#" class="topMenuAction" id="topMenuImage"><img src="<%= image_path("open.png") %>" alt="open" /></a></div>
	   </div>
   </div>
   <!--sliderWrap end-->
  </div><!--topframe2 end-->

</div><!--outbody end-->
 <div id="middlebody">
   <%= yield %>
</div>
  <!--middlebody end-->
<br clear="all" /> 
<div id="footerframe">
 <div id="tel"><span class="white_22">台北</span><br>
   <span class="white_16">(02)2503-3500 </span></div>
 <div id="tel"><span class="white_22">板橋</span><br>
  <span class="white_16">(02)2961-4594  </span></div>
 <div id="tel"><span class="white_22">桃園</span><br>
  <span class="white_16">(03)339-8353   </span></div>
 <div id="tel"><span class="white_22">新竹</span><br>
  <span class="white_16">(03)561-1686   </span></div>
  <div id="tel"><span class="white_22">台中</span><br>
  <span class="white_16">(04)2380-0009   </span></div>
 <div id="otherlink"><a href="http://www.yks.com.tw/front/bin/cglist.phtml?Category=337645" target="_blank"> | 新保事業群</a> | <a href="http://www.sks.com.tw/index.php?option=com_content&view=category&layout=blog&id=3&Itemid=83" target="_blank">新保文化基金會</a> | <a href="http://www.sks.com.tw/" target="_blank">台灣新光保全</a>
|<a href="http://tw.myblog.yahoo.com/anhsin-classroom/profile" target="_blank"> 新光保全-安心教室推廣活動Blog</a> | <br>
© Copyright 2012 Yi-Kong Housekeeping Service All Rights Reserved.  </div>
</div><!--footerframe end-->

</body>
</html>
