<!DOCTYPE html>
<html>
<head>
  <title>誼光後台管理系統</title>
  <meta http-equiv="cache-control" content="no-cache"> 
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%=# javascript_include_tag "rails" %>
<%= javascript_include_tag "/javascripts/jquery-1.7.1.min.js" %>


</head>
<body>
<div id="top">
	<ul class="left">
		<li><a href="<%= root_url %>"">回首頁</a></li>
	</ul>
	<ul class="right">
		<li><%= link_to '登出', :controller => :login, :action => :logout %></li>
	</ul>
</div>
<!--top-->

<div id="main">
		<%= yield %>
</div>
<!--main-->
</body>
</html>
